p {
	color:yellow;
}
* {
	font-family: "verdana", sans-serif ;
	font-size: 20px;
}
h1 {
	font-size: 45px;
}
h2 {
	text-transform: uppercase;
}
.Languages-Learned {
	background-color: lightgreen;
}
li[title]{
	border-width: 3px;
	border-style: solid;
}

img + ul {
	list-style-type: none;
}
body > section > img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
h4 ~ p {
	text-align: center;
}

body > section > ul {
	Letter-spacing: 25px
}